@model Domain.Models.MenuItem

<div class="card m-2">
    <div class="card-body">
        <h4>@Model.Title</h4>
        <p>@Model.</p>
        <p><strong>Price:</strong> @Model.Price</p>
    </div>
</div>
